@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
<h1>1939, народився футбольний тренер Валерій Лобановський</h1>
<h2>1939, 6 січня - у Києві народився Валерій Лобановський, футболіст і легендарний футбольний тренер, Герой України.</h2>
    <img src="https://uinp.gov.ua/storage/app/public/uploads/2019-02-06/16/Esh15494701216m8.jpeg" alt="Alternate Text" />
</div>
