@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Valeri_Lobanovsky.jpg/800px-Valeri_Lobanovsky.jpg" alt="Alternate Text" />
    <h1>10 фактів про Валерія Лобановського</h1>
    <p>1. Тато Валерія Лобановського походив із графського роду Лобко-Лобановських, відомого ще за архівними документами ХVIII століття. Пращури, Петро і Яків, служили в Стародубському полку. Яків мав чин сотника, його ім’я було внесено
        до Новгород-Сіверської дворянської родовідної книги. Мати тренера, Олександра Максимівна Бойченко, була рідною сестрою українського радянського письменника Олександра Бойченка.</p>
    <p>2. З дитинства Валерій мав схильність до точних наук. Мріяв стати водієм, дуже любив машини та різну техніку. Єдину четвірку в атестаті отримав з російської мови. А ще він був гарним шахістом − блискуче грав у складі факультетської команди на першість КПІ.</p>
    <p>3. Технічна освіта йому допомагала і в футболі. Знаменитий «сухий лист» (підкручена подача м’яча, коли з кутового Лобановський міг забити гол) був розроблений на основі законів фізики та відпрацьований на практиці. При цьому, вищої спортивної освіти він так і не отримав.</p>
    <p>4. Разом із науковцем з кафедри теорії фізвиховання Київського інституту фізкультури Анатолієм Зеленцовим Лобановський розробив точну систему розрахунку тренувального процесу, математичне моделювання фізичних навантажень на гравців. Згодом Зеленцов очолив наукову лабораторію київського «Динамо», яку в народі назвали «центром Зеленцова».</p>
    <p>5. Протягом життя Лобановський мав багато футбольних прізвиськ. За високий, як для футболіста, зріст (187 см) його прозвали «Гусаком» та «Рудим Соняшником». За звичку хитатися на тренерському місці його охрестили «Маятником». Через вимогливість та надмірні навантаження іноді позаочі тренера називали «Гітлером». Але найчастіше Лобановського кликали «Полковником» (він мав звання полковника внутрішньої служби), «Генералом», «Метром» чи просто «ВВЛ».</p>
    <p>6. У 1990-х роках Лобановський тренував зарубіжні команди — збірні Об'єднаних Арабських Еміратів (1990—1993) і Кувейту (1994—1996). За його керівництва збірна Кувейту стала бронзовим призером Азійських ігор.</p>
    <p>7. Лобановський увійшов до списку 50 кращих тренерів за 50 років (1959-2009) за версією видання World Soccer, а також до списку найкращих тренерів післявоєнного періоду за версією газети The Тіmе.</p>
    <p>8. В різні роки троє вихованців Лобановського – Олег Блохін, Ігор Бєланов та Андрій Шевченко – стали володарями «Золотого м’яча», європейської відзнаки футболіста року.</p>
    <p>9. 13 травня 2002 року, в день смерті Лобановського, київському «Динамо» виповнилося 75 років. Через два дні Лобановському було посмертно присвоєно звання Героя України.</p>
    <p>10. Єдина донька Лобановського Світлана закінчила Київський університет за спеціальністю викладач російської мови для іноземців. Нині разом із чоловіком Валерієм Горбиком тримає родинний ресторан. Їхні діти Богдан і Ксенія носять прізвище видатного діда.</p>
</div>
