@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>Way of life </h1>
    <img src="https://fcdynamo.com/img/content/histories/149/154811293847867488.jpg?fm=jpg&q=80&fit=max&crop=1078%2C748%2C0%2C0" alt="Alternate Text" />
    <p>
        У 1968 році Лобановський перейшов на тренерську роботу, очоливши дніпропетровське «Дніпро» і за рік вивівши команду з першої ліги до шостого місця в чемпіонаті вищої ліги. У 1973 році молодого тренера запрошують до київського «Динамо». Саме з цим клубом пов’язані найгучніші успіхи Лобановського-тренера. Під його керівництвом «Динамо» вісім разів вигравало чемпіонат СРСР, шість разів виборювала Кубок СРСР. Крім цього, «Динамо» двічі ставало володарем Кубку кубків європейських країн, а в 1975 році здобуло Суперкубок УЄФА.

        У різні роки Валерій Лобановський очолював і збірну СРСР. 1976 року команда здобула бронзові нагороди Олімпійських ігор, а в 1988 році стала віце-чемпіоном Європи.

        Виховав цілу плеяду видатних українських футболістів, які стали «зірками» європейського та світового футболу: Олег Блохін, Ігор Бєланов, Олександр Заваров, Леонід Буряк, Олексій Михайличенко, Андрій Шевченко тощо. Більше чотирьох десятків вихованців Лобановського продовжили його справу на тренерських посадах.

        У 1997 році Лобановський знову очолив київське «Динамо», а в 2000-му – збірну України. З його приходом були пов’язані чергові злети українського футболу – у 1999 році «Динамо» вийшло до півфіналу Ліги чемпіонів, перегравши мадридський «Реал». А збірна України у 2002-му пробилася до плей-оф відбіркового турніру Чемпіонату світу.

        Ці успіхи перервала раптова смерть тренера. 7 травня 2002 року у Запоріжжі під час матчу «Динамо» з «Металургом» у Лобановського стався інсульт. Термінова операція не допомогла – 13 травня серце Валерія Лобановського зупинилося
    </p>

</div>